/* Define color variables for light and dark themes */
:root {
  --bg-page-light: #ffffff; /* Light background */
  --bg-primary-light: #eeeeee; /* Light primary color */
  --fg-primary-light: #333333; /* Light foreground color */
  --fg-on-primary-light: #111111; /* Light on primary color */

  --bg-page-dark: #333333; /* Dark background */
  --bg-primary-dark: #222222; /* Dark primary color */
  --fg-primary-dark: #ffffff; /* Dark foreground color */
  --fg-on-primary-dark: #dddddd; /* Dark on primary color */
}

/* Default light theme */
:root {
  --bg-page: var(--bg-page-light);
  --bg-primary: var(--bg-primary-light);
  --fg-primary: var(--fg-primary-light);
  --fg-on-primary: var(--fg-on-primary-light);
}

/* Dark theme when .dark-theme class is added to the root */
.dark-theme {
  --bg-page: var(--bg-page-dark);
  --bg-primary: var(--bg-primary-dark);
  --fg-primary: var(--fg-primary-dark);
  --fg-on-primary: var(--fg-on-primary-dark);
}

/* regarding resets */
* {
  margin: 0px;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* Handles transition for all elements */
  transition: all 0.2s;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-page);
  gap: 24px;
}

form {
  display: flex;
  flex-flow: column nowrap;
  width: 424px;
  gap: 12px;
}

.messageContainer {
  display: flex;
  flex-flow: column wrap;
  padding: 24px;
  color: var(--fg-on-primary);
  background-color: var(--bg-primary);
  gap: 24px;
  width: 424px;
}
